package templates

import (
	"fmt"
)

templ List(items []string) {
	for _, item := range items {
		<div class="card w-96 bg-primary text-primary-content">
			<div class="card-body">
				<p>{ fmt.Sprint(item) }</p>
			</div>
		</div>
	}
}
