package components

import "github.com/waldeedle/todo/internal/models"

templ header(account *models.Account) {
	<header class="navbar mb-2 shadow-lg bg-neutral text-neutral-content w-full flex justify-center items-center">
		<span class="text-lg font-bold px-2 mx-2">
			HTMx TODO!
		</span>
		<span class="text-lg px-2 mx-2">
			Hi, { *account.GetFirstName() }!
		</span>
	</header>
}
