package components

import (
	"fmt"
)

templ list(props ListComponentProps) {
	<div class="grid grid-cols-4 gap-4">
		for _, item := range props.Items {
			<div class="card bg-primary text-primary-content">
				<div class="card-body">
					<p>{ fmt.Sprint(item) }</p>
				</div>
			</div>
		}
	</div>
	if props.ToastType != ToastType(0) {
		{! Toast(ToastComponentProps{
			Message: props.ToastMessage,
			Type: props.ToastType,
		}) }
	}
}
