package ui

templ JsTest() {
	<script>window.dispatchEvent(new CustomEvent('toast-show', { detail : { type: 'default', message: 'test222', description: 'dest222', position : 'top-center' }}))</script>
}
