package ui

templ list() {
	// <div class="grid grid-cols-4 gap-4">
	// 	for _, item := range props.Items {
	// 		<div class="card bg-primary text-primary-content">
	// 			<div class="card-body">
	// 				<p>{ fmt.Sprint(item) }</p>
	// 			</div>
	// 		</div>
	// 	}
	// </div>
}
